#page-wrapper pre{line-height: 1em;}
#page-wrapper pre.codificacao {
    background-color:#eee;
    overflow:auto;
    margin:0 0 1em;
    padding: 1em; 
    line-height: 1em !important;
}
#page-wrapper pre .codificacao {
    font:normal normal 12px/14px "Courier New",Courier,Monospace;
    color:black;
    display:block;
}
#page-wrapper pre.codificacao .cl { display:block; clear:both; }

